.table.table-sm.table-bordered tr {
    text-align: center;
}

.table.table-sm.table-bordered td {
    vertical-align: middle;
}

.delete-role {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    color: var(--red-color);
    background-color: transparent;
    border-radius: 8px;
    padding: 5px;
}

.update-link {
    background-color: transparent;
    color: var(--blue-color);
    border-color: var(--blue-color);
    border-radius: 8px;
    padding: 5px;
}

.role-table th {
    color: var(--petrol-color);
    text-align: center;
    padding-top: 15px;
}
.role-table td {
    border: 1px solid #979797;
}

/* Your Table Class */
.role-table {
    border-collapse: collapse; /* Essential for clean lines */
    width: 100%;
}

/* Table Headers and Data Cells */
.role-table th,
.role-table td {
    padding: 15px;
    /* Add border to the LEFT side */
    border-left: 1px solid #979797;
}

/* Remove the border from the very last column */
.role-table th:last-child,
.role-table td:last-child {
    border-left: none;
}

.role-table td {
    border: 1px solid #979797;
    border-right: 0;
    border-bottom: 0;
}

.create-role {
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
}