.card-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    width: 100%;
}

    .card-list p {
        font-size: 17px;
        font-weight: bold;
    }

    .card-list a {
        color: black !important;
    }


.card-access {
    background: #dce7fc;
    border-radius: 5px;
    color: #5f93ef !important;
    font-weight: bold;
    width: 300px;
    max-width: 100%;
}


.card-access .card-body{
    align-items: unset;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 4px;
    padding-right: 0px;
}

.card.px-4.pt-4.card-access .card-title {
    font-weight: bold;
}