.uploaded-img {
    position: relative;
}

.deleteIcon {
    width: fit-content;
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    padding: 3px 10px;
    background: rgb(10 44 63 / 60%);
    border-radius: 3px;
}

    .deleteIcon i.bi.bi-trash3-fill {
        cursor: pointer;
        color: white;
        opacity: 0.6;
    }

        .deleteIcon i.bi.bi-trash3-fill:hover {
            opacity: 1;
        }

.card-head {
    justify-content: start;
}

.video-holder {
    position: relative;
}

form video {
    width: 300px;
}

form img {
    width: 300px;
}

.control-label {
    margin-bottom: 10px;
}



@@media(max-width: 500px) {
    .custom-file-upload {
        width: 100%;
    }
}

input {
    border-radius: 5px !important;
}

.star:after {
    content: " *";
    color: red;
}


/*Back button */
.back-btn:hover i {
    display: none;
}

.back-container {
    width: 67px;
}

.back-btn:hover:before {
    content: "Back to post list";
}

.back-btn {
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #c2b1b1;
}

    .back-btn:hover {
        animation: width ease-in-out 0.1s;
    }


        .back-btn:hover::before {
            white-space: nowrap;
            overflow: hidden;
            animation: width 0.1s linear forwards;
        }


.back-container {
    white-space: nowrap;
    overflow: hidden;
    animation: width 0.1s linear forwards;
}


input, textarea {
    max-width: 100%;
    border-color: #212c37 !important;
    text-align: right;
    width: 100%;
}

textarea {
    height: 90px;
}

@keyframes width {
    from {
        width: 67px;
    }

    to {
        width: 164px;
    }
}

main.pb-3 * {
    max-width: 100%;
}

.create {
    column-gap: 20px;
    row-gap: 20px;
}

th {
    margim-bottom: 10px;
    padding: 0 15px;
}

td {
    padding: 18px 15px;
}

td {
    border-bottom: 1px solid #dddddd;
}

@media (max-width: 1400px) {
    .create {
        align-content: center;
        justify-content: center;
    }
}

input.form-control {
    height: 60px;
}


input.submit-button {
    width: auto;
    background: transparent;
    border: none;
    color: white;
    margin: 0;
}

.submit-div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    margin: auto;
    width: 326px;
    max-width: 100%;
    font-size: 19px;
    height: 64px;
}
