
input {
    text-align: start;
}

input {
    max-width: 100%;
    text-align: right;
    background-color: #e9ecef;
    color: #8a8a8a;
}

form input {
    padding-right: 10px !important;
    box-shadow: inherit !important;
    border-radius: 5px !important;
    border: 1px solid #ddd;
}

.shareImage {
    width: 400px !important;
    max-width: 100%;
    height: 100%;
    padding: 0 !important;
}

.social-icon::before {
    font-size: 20px;
}

.channel-list {
    -webkit-overflow-scrolling: touch;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #918b92 #ffffff;
}

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 5px;
        height: 15px;
    }

    *::-webkit-scrollbar-track {
        background: #ffffff;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #918b92;
        border-radius: 10px;
        border: 4px solid #ffffff;
    }


.form-container {
    row-gap: 7px;
}

.form-control:disabled, .form-control[readonly] {
    /*       background-color: #e9ecef;
                                                opacity: 1; */

    padding: 10px;
    border-radius: 5px !important;
    border: 1px solid #ddd;
    box-shadow: inherit !important;
    color: #8a8a8a;
}

input.form-control:focus {
    background: #e9ecef;
    border: 1px solid #ddd !important;
}

.form-group.mb-4 img {
    max-width: 100%;
}

label.control-label {
    font-weight: bold;
    color: grey;
}