.table.table-sm.table-bordered tr {
    text-align: center;
}

.table.table-sm.table-bordered td {
    vertical-align: middle;
}

.delete-role {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
}

th {
    background: #F6F9FC !important;
}

table a {
    color: black;
}