label {
    margin-bottom: 10px;
}

input:not([type=submit]) {
    background: white !important;
    width: 510px !important;
    max-width: 100%;
    border-color: #212c37 !important;
    text-align: right;
}

form button {
    width: 200px;
    background: var(--bs-blue);
    color: white;
}

#rolesid {
    width: 100%;
}

select#parentId {
    width: 100%;
}