
:root {
    --primary-font: Arabic;
    --green-color: #52c282;
    --purple-color: #5d60ec;
    --grey-color: #dee5ee;
    direction: rtl;
    --card-head: 1rem;
    --publish-color: #2e844a;
    --delete-color: #ba0517;
    --orange-color: #dd7a01;
    --blue-color: #008CBA;
}

@font-face {
    font-family: "Arabic";
    src: url("fonts/alfont_com_Abeer_2711-يوم-الجمعة.otf") format("truetype");
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif !important;
}

p {
    direction: rtl;
}

a {
    font-weight: 500;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
    vertical-align: middle !important;
}

.card {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    height: 100% !important;
}

button {
    padding: 10px 25px !important;
    border-radius: 7px;
}

.card-icon img {
    max-width: 50px !important;
}

.card-head {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: var(--card-head);
    justify-content: end;
}

.card-text h2 {
    font-size: 0.9rem !important;
    color: #b9c2cc;
    font-weight: 300 !important;
}

/*.card-head .card-text h1 { 
      font-size: var(--card-head) !important;
      font-weight: bold;
   
}*/

.card-body {
    display: flex;
    width: 100%;
    row-gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.green-btn {
    background-color: var(--green-color) !important;
    color: white !important;
}

.purple-btn {
    background-color: var(--purple-color) !important;
}

.grey-btn {
    background-color: var(--grey-color);
    color: #00000029;
    font-weight: bold;
}

}

@media (max-width: 992px) {
    .row {
        justify-content: center;
        row-gap: 15px;
    }
}

.no-slide .card-body button {
    border-color: transparent;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}


.stroke-div {
    border: 2px dashed #c7d2de;
    padding: 10px;
    margin: 20px 0;
}

    .stroke-div .stroke-text {
        font-size: var(--card-head);
    }

.btn {
    font-size: var(--card-head);
}



.img-gallery {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    column-gap: 3px;
    row-gap: 10px;
    justify-content: center;
}

    .img-gallery img {
        max-width: 100%;
        width: 180px;
    }

/* Archive Card */

.archive-card {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px;
}

.arc-card-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.arc-card-footer {
    width: 100%;
}

.arc-user {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
}
/* Archive card end */

/* .card.col-lg-4.mt-2 {
  max-width: 400px;
} */

/* .row {
  max-width: 100vw;
  width: max-content;
  justify-content: space-evenly;
  flex-wrap: nowrap !important;
} */

.greeting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

    .greeting .btn.purple-btn {
        background-color: var(--purple-color);
        display: flex;
        column-gap: 10px;
        align-items: center;
        color: white;
        width: fit-content;
    }

@media (max-width: 480px) {
    .greeting {
        justify-content: center;
        flex-direction: column;
    }
}

#fr-logo {
    display: none;
}

.post-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.post-stats {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

    .post-stats i {
        color: #707a82;
    }



/*SIGN-up-CARD STYLE  */
.sign-up-card {
    margin: 50px auto;
    border: 2px solid #3477F5;
    border-radius: 25px;
    max-width: 500px;
    height: 800px;
    text-align: left;
    padding-left: 50px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

    .sign-up-card p {
        font-weight: bold;
    }



.sign-up-title {
    text-align: center;
    margin-bottom: 20px;
    padding-right: 20px;
}

.sign-up-title2 {
    text-align: center;
    margin-bottom: 20px;
}

.sign-up-text {
    text-align: center;
}

button {
    width: 400px;
    height: 60px;
    border-radius: 40px;
    background: white;
    font-size: 1.1rem;
    border-style: none;
    box-shadow: 0px 3px 6px #00000029;
}

input {
    width: 400px;
    height: 60px;
    border-radius: 40px;
    background: white;
    font-size: 1.1rem;
    border-style: none;
    box-shadow: 0px 3px 6px #00000029;
    text-align: left;
    padding-left: 20px;
}

.sign-up-control button {
    background: #3477F5;
    color: white;
    margin-bottom: 5px;
}

.sign-up-card a {
    text-decoration: none;
    margin-top: 10px;
    color: #3477F5;
    opacity: 0.8;
}

::placeholder {
    opacity: 0.1;
}

.sign-up-control h4 {
    font-weight: normal;
}

.navbar-toggler {
    width: 71px;
    height: 42px;
}

.editor input {
    border-radius: inherit;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.btn-solution {
    max-width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

div[class^="ripple"] {
    display: none;
}
/**/
.card-text {
    display: flex;
    flex-direction: column;
}

.card-head .card-text h1 {
    font-size: var(--card-head);
    font-weight: bold;
}

.no-slide .card-body .btn {
    max-width: 200px;
}

.card-text {
    text-align: end;
}

.stroke-div {
    max-width: 100%;
}

    .stroke-div button {
        max-width: 100%;
    }

.body, .body * {
    max-width: 100%;
}

.swiper-slide button {
    max-width: 200px;
    margin: auto;
}

@media only screen and (max-width: 992px) {
    .swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
        color: white;
    }

    .swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
        color: white;
    }
}

.stroke-div .stroke-text p {
    text-align: initial;
}

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    flex-direction: row-reverse !important;
}


.list-group-item {
    color: inherit !important;
}

.list-group-item.active {
    color: white !important;
}


.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl{
    flex-direction: row !important;
}

.publish-btn {
    background: var(--publish-color);
    color: white;
    border-radius: 5px;
}

.delete-btn{
    background-color: var(--delete-color);
    color: white;
    border-radius: 5px;
}

/*Modal popup*/
.modal-body {
    background: #198a55;
    color: white;
}

.close-popup {
    width: 200px;
    background: #ea001e;
}

#popup-button {
    display: none;
}

.modal-footer {
    justify-content: center !important;
}

.modal-body {
    text-align: center;
}

#error-message .modal-body {
    background: #dd7a01;
}