.card-banner {
    margin: auto;
    width: 1170px;
    height: 150px;
    background: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    .card-banner .title {
        color: #3a7cf4;
    }

    .card-banner button {
        background: #3477f5;
        border-radius: 15px;
        color: white;
    }

.search {
    width: 20%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}

.search-text {
    font-size: 20px;
    padding-right: 20px;
}

.header {
    width: 80%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}

.left-header {
    display: flex;
    flex-direction: row;
    width: 25%;
}

    .left-header .bell-icon {
        margin-top: 40px;
        font-size: 20px;
    }

.dot {
    height: 30px;
    width: 30px;
    background: rgb(61, 97, 61);
    border-radius: 50%;
    margin-right: 20px;
    color: azure;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-bell {
    width: 20px;
    height: 19px;
    background: #e95c7b;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 5px;
    color: white;
    padding: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
}

.arrow {
    padding-top: 20px;
    color: gray;
}

ul.navbar-nav.d-flex.flex-row {
    align-items: center;
}

i.bi.bi-bell.bell-icon {
    font-size: 20px;
}

/*
.list-group.list-group-flush a {
    display: flex;
    align-items: center;
    column-gap: 25px;
    border: none !important;
}
*/

.list-group.list-group-flush.mx-3.mt-4 {
    row-gap: 4px;
}

@media (min-width: 992px) {
    nav#sidebarMenu .position-sticky {
        display: flex;
        height: 100%;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .bottom-list {
        margin-top: auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 992px) {

    a.navbar-brand {
        display: none !important;
    }
}

a.navbar-brand {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10px;
}

form.d-none.d-md-flex.input-group.w-auto.my-auto input {
    border-left: none;
    border-right: 0;
    border-top: none;
    border-radius: 0;
    border-bottom: 1px solid;
}

.input-group-text {
    background-color: transparent;
}

nav#main-navbar {
    background: none !important;
}

.bg-white {
    box-shadow: none !important;
}


.list-group.list-group-flush.mx-3 i {
    -webkit-text-stroke: 0.3px;
}

@media (min-width: 992px) {
    .list-group.list-group-flush {
        /*! max-height: 280px; */
    }
}

.side-create {
    background: var(--primary-orange);
    color: black !important;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 12px;
    width: fit-content;
    margin: auto;
    box-shadow: 0 4px 4px 0 #00000040;
    display: flex;
    column-gap: 10px;
}

.list-group-flush > .list-group-item {
    border: none !important;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.panel-link {
    padding: 20px 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-top: 22px;
}

a.list-group-item.list-group-item-action.active {
    background: var(--primary-orange);
    z-index: auto;
    font-weight: bold;
    color: black !important;
    border-radius: 12px !important;
    padding: 10px 15px;
    border-color: transparent;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 0;
    text-wrap: nowrap;
}

.side-bar-logo {
    width: 100px;
    height: 100px;
    margin: 40px auto;
}


.list-group-item.list-group-item-action {
    border: 0;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 10px 0;
}

.panel-link .list-group-item.list-group-item-action {
    margin: 0;
}

.list-group-item.list-group-item-action:hover {
    background: transparent;
    color: var(--primary-orange) !important;
}

.panel-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: black; /* default color */
}

    .panel-item:hover {
        color: #FA961E; /* hover color */
    }
